@media only screen and (min-width: 600px) {
  body {
    margin: 5px;
    padding: 0px;
    box-sizing: border-box;
  }

  .container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25vh 10vh 180vh 20vh;
    background: linear-gradient(90deg, rgb(228, 228, 228) 0%, rgb(232, 240, 196) 47%, rgb(165, 235, 36) 100%);

  }

  .div1 {
    background: linear-gradient(to top, #66ff33 0%, #ffffff 100%);
    grid-column: 1/6;
    grid-row: 1/2;
    text-align: center;
    font-family: "Sofia", sans-serif;
    color: white;
    font-size: 20px;
    text-shadow: 3px 3px 3px #0c5826;
  }

  .div2 {
    grid-column: 1/6;
    grid-row: 2/3;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 10vh;
    overflow: hidden;
    background-color: #5fec52;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #096e1f;
  }

  .div7 {
    grid-column: 1/6;
    grid-row: 4/5;
    margin-top: 50px;
    background-color: #398b1d;
    text-align: center;
  }

  .div8 {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .div9 {
    grid-column: 3/6;
    grid-row: 3/4;
    text-align: center;

  }

  img {
    margin-top: 80px;
    width: 80vh;
    height: 80vh;
    border: 3px #60eb77 solid;
    border-radius: 30% 0 30% 0;
  }

  h1 {
    text-align: center;
    color: rgb(114, 192, 61);
    text-shadow: 3px 3px 3px #b6eeca;
  }

  h2 {
    text-align: center;
  }

  h1:hover {
    font-size: 30px;
    color: rgb(126, 202, 76);
    text-shadow: 3px 3px 3px #e7f5ec;
  }

  b {
    color: rgb(32, 70, 7);
    text-shadow: 3px 3px 3px #ffffff;

  }

  p {
    padding: 10px;
  }

  button {
    float: right;
    margin: 10px 10px;
    border: none;
    outline: 0;
    color: white;
    background-color: #1dca1d;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    width: 100px;
    height: 30px;
  }

  button:hover {
    opacity: 0.7;

  }
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10vh 5vh 30vh 130vh 10vh;
    background: linear-gradient(90deg, rgb(228, 228, 228) 0%, rgb(232, 240, 196) 47%, rgb(165, 235, 36) 100%);
    gap: 2px;
  }

  .div1 {
    background: linear-gradient(to top, #66ff33 0%, #ffffff 100%);
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    font-family: "Sofia", sans-serif;
    color: white;
    font-size: 20px;
    text-shadow: 3px 3px 3px #0c5826;
  }

  .div2 {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 5vh;
    overflow: hidden;
    background-color: #5fec52;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 10px;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #096e1f;
  }
  h1{
    font-size: 10px;
  }
  h2{
    font-size: 10px;
    text-align: center;
  }

  .fa {
    padding: 2px;
    font-size: 10px;
    width: 30vh;
    text-align: center;
    text-decoration: none;
  }
  .div7 {
    grid-column: 1/3;
    grid-row: 5/6;
    margin-top: 5px;
    background-color: #398b1d;
    text-align: center;
  }
  .div8{
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .div9 {
    grid-column: 1/3;
    grid-row: 3/4;
    text-align: center;
  }
  button {
    float: right;
    margin: 10px 10px;
    border: none;
    outline: 0;
    color: white;
    background-color: #1dca1d;
    text-align: center;
    cursor: pointer;
    font-size: 5px;
    width: 20px;
    height: 10px;
  }
  b {
    color: rgb(32, 70, 7);
    text-shadow: 3px 3px 3px #ffffff;

  }

  p {
    padding: 10px;
    font-size: 10px;
  }
  img{
    height: 30vh;
    border: 2px white solid;
  }
}